body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url('https://w0.peakpx.com/wallpaper/104/693/HD-wallpaper-filmstrip-textures-vector-backgrounds-grunge-backgrounds-cinematograph-film-strip-vector-textures-background-with-filmstrip-grunge-cinema-background.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(255, 255, 255);
    padding: 5px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #2e0909;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}